.CCheck {
  font-size: 18px;
  margin-left: 5px;
}

.Checkbox {
  margin-left: auto;
  margin-bottom: 10px;
  text-align: right;
}

.Checkbox > span {
  color: grey;
  font-size: 12px;
  vertical-align: 2px;
}

.Upper > h5 {
  color: grey;
}

.Id,
.Pw,
.PwRe {
  display: flex;
  border: 1px solid lightgray;
  padding: 15px;
  margin-bottom: -2px;
}

.Id,
.IdFocused {
  border-radius: 10px 10px 0 0;
}

.PwRe,
.PwReFocused {
  border-radius: 0 0 10px 10px;
}

.PwFocused,
.IdFocused,
.PwReFocused {
  display: flex;
  padding: 15px;
  border: 1px solid #2bb400; /* input이 focus되면 테두리 색상 변경 */
}

.user,
.lock {
  font-size: 23px;
  color: lightgray;
}

.userFilled,
.lockFilled {
  font-size: 23px;
  color: black;
}

.eye {
  font-size: 18px;
}

.Id > input,
.IdFocused > input,
.Pw > input,
.PwFocused > input,
.PwRe > input,
.PwReFocused > input {
  width: 100%;
  font-size: 14px;
  margin: 0 10px;
  border: none;
}

.email {
  margin: 0;
  color: gray;
}

.emailFilled {
  margin: 0;
  color: black;
}

.Id > input:focus,
.IdFocused > input:focus,
.PwRe > input:focus,
.PwReFocused > input:focus,
.Pw > input:focus,
.PwFocused > input:focus {
  width: 100%;
  font-size: 14px;
  margin: 0 10px;
  border: none;
  outline: none;
}
